Repository dmlc/dgl, pull requests merged in 2022-12, with the labels that each got.

#4972 [Sparse] Add val_like and Disable Setting Nonzero Values
  dgl_sparse/include/sparse/sparse_matrix.h
  dgl_sparse/src/python_binding.cc
  dgl_sparse/src/sparse_matrix.cc
  python/dgl/mock_sparse2/diag_matrix.py
  python/dgl/mock_sparse2/sparse_matrix.py
  tests/pytorch/mock_sparse2/test_sparse_matrix.py
Labels: Sparse API

#4996 [Sparse] GCN Example
  examples/sparse/gcn.py
Labels: Sparse API

#5000 [Model] Fix bug of gatv2 when input is block
  python/dgl/nn/pytorch/conv/gatv2conv.py
Labels: bug:confirmed

#5020 [Dist] generate partition meta for ParMETIS pipeline
  tests/tools/test_parmetis.py
  tools/distpartitioning/parmetis_postprocess.py
Labels: Distributed Partitioning

#5030 [API Deprecation] Deprecate node and edge Dataloader in dgl.dataloading
  benchmarks/benchmarks/model_acc/bench_rgcn_ns.py
  benchmarks/benchmarks/model_acc/bench_sage_ns.py
  benchmarks/benchmarks/model_speed/bench_gat_ns.py
  benchmarks/benchmarks/model_speed/bench_rgcn_hetero_ns.py
  benchmarks/benchmarks/model_speed/bench_rgcn_homogeneous_ns.py
  benchmarks/benchmarks/model_speed/bench_sage_ns.py
  benchmarks/benchmarks/multigpu/bench_multigpu_sage.py
  examples/pytorch/gas/main_sampling.py
  examples/pytorch/gcmc/train_sampling.py
  examples/pytorch/graphsage/advanced/train_lightning_unsupervised.py
  examples/pytorch/graphsage/advanced/train_sampling_unsupervised.py
  examples/pytorch/hilander/PSS/test_subg_inat.py
  examples/pytorch/hilander/PSS/train_subg_inat.py
  python/dgl/dataloading/base.py
  python/dgl/dataloading/dataloader.py
  python/dgl/dataloading/dist_dataloader.py
  tests/pytorch/test_dataloader.py
  tutorials/large/L4_message_passing.py
  tutorials/multi/2_node_classification.py
Labels: deprecate

#5029 [API Deprecation]Deprecate candidates in dgl.distributed module
  python/dgl/distributed/dist_graph.py
  python/dgl/distributed/graph_partition_book.py
  python/dgl/distributed/partition.py
  tests/dist/python/run_dist_objects.py
  tests/distributed/test_dist_graph_store.py
  tests/distributed/test_distributed_sampling.py
  tests/distributed/test_mp_dataloader.py
  tests/distributed/test_new_kvstore.py
  tests/distributed/test_partition.py
  tests/pytorch/test_dist_optim.py
Labels: deprecate
