Repository dmlc/dgl, pull requests merged in 2022-08, with the labels that each got.

#4276 Adding launch script and wrapper script to trigger distributed graph …
  tools/dispatch_data.py
  tools/distgraphlaunch.py
  tools/distpartitioning/constants.py
  tools/distpartitioning/data_proc_pipeline.py
  tools/distpartitioning/data_shuffle.py
  tools/distpartitioning/dataset_utils.py
Labels: Distributed Partitioning

#4328 [Example] NGNN for ogbl
  examples/README.md
  examples/pytorch/ogb/ngnn/README.md
  examples/pytorch/ogb/ngnn/main.py
Labels: GNN Utilities

#4343 [Feature] enable graph partition book support canonical etypes
  docs/source/api/python/dgl.distributed.rst
  python/dgl/distributed/constants.py
  python/dgl/distributed/graph_partition_book.py
  tests/distributed/test_partition.py
Labels: dist DGL

#4432 [CI] enable ssh in docker image for dist test
  Jenkinsfile
  docker/Dockerfile.ci_cpu
  docker/install/ubuntu_install_core.sh
Labels: CI/CD

#4327 [Example][Refactor] Refactor RGCN example
  examples/pytorch/rgcn/README.md
  examples/pytorch/rgcn/entity.py
  examples/pytorch/rgcn/entity_sample.py
  examples/pytorch/rgcn/entity_sample_multi_gpu.py
Labels: Refactor

#4291 [Example] SEAL for OGBL
  examples/README.md
  examples/pytorch/ogb/seal_ogbl/README.md
  examples/pytorch/ogb/seal_ogbl/main.py
Labels: GNN Utilities
