Repository dmlc/dgl, pull requests merged in 2022-11, with the labels that each got.

#4752 [Dist] Enable save and load for Distributed Optimizer
  docs/source/api/python/dgl.distributed.rst
  python/dgl/distributed/optim/pytorch/sparse_optim.py
  tests/dist/python/run_dist_objects.py
  tests/distributed/test_dist_graph_store.py
Labels: Core Library Enhancement

#4905 [Sparse][FFI] Change enumeration name in DGLObjectTypeCode
  include/dgl/runtime/c_runtime_api.h
  python/dgl/_ffi/_cython/base.pxi
  python/dgl/_ffi/_cython/function.pxi
Labels: Sparse API

#4733 [Dist] Flexible pipeline - Initial commit
  tests/tools/test_dist_part.py
  tools/dispatch_data.py
  tools/distpartitioning/convert_partition.py
  tools/distpartitioning/data_shuffle.py
  tools/distpartitioning/dataset_utils.py
  tools/distpartitioning/dist_lookup.py
  tools/distpartitioning/globalids.py
  tools/distpartitioning/gloo_wrapper.py
  tools/distpartitioning/utils.py
Labels: Distributed Partitioning

#4933 [Feature] Add parquet support for node/edge features in chunked data
  tests/tools/create_chunked_dataset.py
  tests/tools/test_array_readwriter.py
  tests/tools/test_dist_part.py
  tools/chunk_graph.py
  tools/distpartitioning/array_readwriter/__init__.py
  tools/distpartitioning/array_readwriter/csv.py
  tools/distpartitioning/array_readwriter/numpy_array.py
  tools/distpartitioning/array_readwriter/parquet.py
  tools/distpartitioning/array_readwriter/registry.py
  tools/distpartitioning/constants.py
  tools/distpartitioning/dataset_utils.py
  tools/distpartitioning/utils.py
  tools/files.py
  tools/partition_algo/random_partition.py
  tools/utils/__init__.py
Labels: Distributed Partitioning
